.container{
    width: 100%;

}
.heading{
    min-width: 300px;
    margin: 0 auto;
}
.heading__text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
